extends layout
block content
  h2= title
  div.row#app
    div.col-lg-3
    div.col-lg-6
      div.container-fluid
        nav.navbar-expand-lg.navbar.navbar-light
          ul.navbar-nav.mr-auto.mt-2.mt-lg-0
            li.nav-item
              a.nav-link(href="#data",
                        :class="{active: !cartActive}",
                        @click="cartActive=false") Channels
            li.nav-item
              a.nav-link(href="#data",
                        :class="{active: cartActive}",
                        @click="cartActive=true") Cart
          form.form-inline.my-2.my-lg-0
            input.form-control.mr-sm-2(type="search", placeholder="Search", aria-label="search")
        br
        div#data
          table(style='width:100%')
            thead
              tr
                th(v-for="col in columns", @click="sortColumns(col)") {{ col }}
                  i(class="fa fa-fw",
                    :class="col != sortColumn ? 'fa-sort' : isAscending ? 'fa-sort-asc' : 'fa-sort-desc'")
            tbody
              tr(v-for="row in get_rows()")
                td {{row.id}}
                td {{row.name}}
                td {{row.phone}}
                td {{row.profession}}
          div.pagination
            div.number(v-for="i in num_pages('channels')",
                      :class="[i == currentPage ? 'active' : '']"
                      @click="change_page(i)") {{i}}
        //div#cart
          table(style='width:100%', v-show="cartActive")
          thead
            tr
              th(v-for="col in columns", @click="sortColumns('cart', col)") {{ col }}
                i(class="fa fa-fw",
                //:class="col != sortColumn ? 'fa-sort' : isAscending ? 'fa-sort-asc' : 'fa-sort-desc'")
          tbody
            tr(v-for="row in cart.rows")
              td {{row.id}}
              td {{row.name}}
              td {{row.phone}}
